{% extends 'base.html'%}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to the best News Review website </title>
        {% endif %}

       {% import 'macros.html' as macro %}
    </head>
    <body>
        <body>
        
            {% block content %}
  <div class="container">
    <h1>NEWS SOURCES</h1>
      <hr>

      
      <div class="row">
        {% if news %}
            {{macro.displayNews(news)}}
        {% else %}
            <h3 class="text-center">You have no news </h3>
        {% endif %}
      </div>
  
  </div>
  {% endblock %}
            
                
        
            
             
     </body>
    </body>
</html>